
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('../images/vigas.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 950px;
            color: #d4af37; /* Dourado para o texto */
            line-height: 1.6;
        }
        header {
            background-image: url('../images/bda202f4ed3e54f2e8a1b4b106500175.jpg');
            -webkit-text-stroke: 2px #00000049;
            background-position: center;
            background-size: 46%; /* Defina o tamanho fixo */

            background-repeat: no-repeat;
            background-position: 1%;
            color: #eec12c; /* Dourado */
            padding: 1rem 0;
            text-align: center;
            background-color: white;
        }
        header h1 {
            font-family: "Bebas Neue", serif;
            -webkit-text-stroke: 2px #000000d0;
            letter-spacing: 4px;
            text-shadow: 2px 2px 5 px rgba(0, 0, 0, 0);
            margin: 0;
            font-size: 4rem;
        }
        header p {
            font-family: "Bebas Neue", serif;
            letter-spacing: 2px;


            font-size: 1.4rem;
            -webkit-text-stroke: 2px #f0cf1152;
            color: #000000;
        }
        section {
            font-family: "Bebas Neue";
            letter-spacing: 0.8px;
            font-size:1.3rem;

            padding: 2rem;
            max-width: 800px;
            margin: auto;
            background: #b3c6d960; /* Fundo branco com transparência */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 1rem;
            color: #0f0f00; /* Marrom para o texto */
            border-radius: 5px 3px 2px 0px;
        }
        .tel {
            color: #daaf23;
            background-color: #777776;
            border-color: #000000;
            border: 5px;
            border-radius: 30%
            30% 1% ;
            font-size: 2.3rem;
            font-family: "Bebas Neue", serif;
            text-align: center;
        }
        .tel:hover {
            color: red;
        }
        .cta-buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
        }
        .cta-buttons a {
            text-decoration: none;
            background: #28a745;
            color: #fff;
            padding: 0.8rem 1.5rem;
            border-radius: 5px;
            font-size: 1rem;

        }
        .cta-buttons a:hover {
            background: #218838;
        }
        footer {
            text-align: center;
            padding: 1rem;
            background: rgba(51, 51, 51, 0.8);
            color: #d4af37; /* Dourado */
        }

